<% if @result.present? %>

  <!-- 神籤カード -->
  <div class="card-wrapper">
    <button id="omikuji-card" class="omikuji-card">
      ✨ タップして神籤を開く ✨
    </button>
  </div>

  <!-- 結果表示 -->
  <div id="omikuji-result"
      class="fortune-result rarity-<%= @result.rarity %>"
      data-rarity="<%= @result.rarity %>"
      style="display:none;">

      <h1 class="page-title">神籤の結果</h1>
      
      <p class="rarity-message">
        <%= @result.message %>
      </p>
    
      <div class="god-light"></div>

    <%= image_tag @result.image,
                  id: "omikuji-image",
                  class: "character-image" %>

    <p style="text-align:center; margin-top:1.5rem; color:#700;">
    ※ 神籤は1日1回のみ引くことができます
    </p>

  </div>

  <div class="result-buttons" style="display:none;">
    <%= link_to "トップページへ", root_path, class: "btn btn-primary" %>
  </div>
  
<% else %>

  <div class="result-buttons">
    <p class="error-text">
      本日はまだ神籤を引いていません。
    </p>

    <%= link_to "トップページへ", root_path, class: "btn btn-secondary" %>
  </div>

<% end %>
