<div class="stats-wrapper">

  <div class="stats-card">
    <h1>実績データ</h1>
    <p>神籤回数：<%= @total_draws %> 回</p>

    <p>タスク達成率：<%= @achievement_rate %>%</p>

    <p>レア取得回数：</p>
    <ul>
      <% @fortune_counts.each do |(name, rarity), count| %>
        <div class="fortune-item <%= rarity %>">
          <span class="fortune-name"><%= name %></span>
          <span class="fortune-count"><%= count %>回</span>
        </div>
      <% end %>
    </ul>

    <div class="stats-message-box">
      <p class="stats-message">
        <% if @achievement_rate == 100 %>
          完璧です!パーフェクト!!👏
        <% elsif @achievement_rate > 75 %>
          波に乗っていますね♪ 素晴らしい!✌
        <% elsif @achievement_rate > 50 %>
          良い調子です!成果が出ていますね😃
        <% elsif @achievement_rate > 1 %>
          挽回できます!頑張ろう!👊
        <% else %>
          実績がまだありません😢
        <% end %>
      </p>
    </div>
  </div>

  <div class="history-back">

  <%= link_to "ホームへ戻る",
      home_path,
      class: "btn btn-japanese" %>

  <%= link_to "神籤履歴",
      history_omikujis_path,
      class: "btn btn-rare draw-button" %>

</div>