<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "神籤 - SHIN SEN -" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Shin Sen Clean">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon.png">

    <!-- CSS -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", nonce: SecureRandom.hex(4) %>
    <%= stylesheet_link_tag "omikuji", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "history", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "animation", "data-turbo-track": "reload" %>
    
    <!-- JS -->
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <!-- ナビゲーションバー -->
    <nav class="navbar">
      <div class="nav-inner">
        <%= link_to "神籤 -SHIN-SEN-", home_path, class: "nav-logo" %>

        <div class="nav-links">
          <% if user_signed_in? %>
            <span class="nav-user">
              ようこそ <%= current_user.email %>
            </span>

            <%= button_to "ログアウト",
                          destroy_user_session_path,
                          method: :delete,
                          form: { class: "logout-form" },
                          class: "nav-button" %>
          <% else %>
            <%= link_to "ログイン",
                        new_user_session_path,
                        class: "nav-link" %>

            <%= link_to "新規登録",
                        new_user_registration_path,
                        class: "nav-link" %>
          <% end %>
        </div>
      </div>
    </nav>

    <% flash.each do |type, message| %>
      <div class="flash flash-<%= type %>">
        <%= message %>
      </div>
    <% end %>

    <!-- 🌌 メインコンテンツ -->
      <%= yield %>

  </body>
</html>
